@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.booking-form {
  display: flex;
  flex-direction: column;
}

.booking-form {
  padding: 1rem 0 1rem 0;

  &__text {
    background-color: $dutch-white;
    color: $brown-pod;
    font-family: "Roboto";
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
  &__button {
    display: flex;
    justify-content: center;
    color: $dutch-white;
    background-color: $astral;
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-family: "Roboto";
    &:hover {
      color: $astral;
      background-color: $dutch-white;
    }
  }
}
