@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito/static/Nunito-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito/static/Nunito-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito/static/Nunito-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto/static/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto/static/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto/static/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto/static/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

textarea {
  font-family: inherit;
  field-sizing: content;
}

input[type="date"] {
  font-family: inherit;
}
