$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$solid-pink: #7f454b;
$brown-pod: #34180d;
$astral: #316a84;
$dutch-white: #f1ddbd;
$tumbleweed: #d79b82;
$ottoman: #d0d6cd;

$kobicha: #654321;
$cream: #fdfbd4;
$celadon: #adebb3;
$dark-cyan: #4e878c;
$dark-green: #00241b;
