@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.booking-list-item {
  padding: 1rem;
  border-top: 3px solid $dark-cyan;
  &__description {
    color: $kobicha;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: "Roboto";
  }
}

.item-heading {
  display: flex;
  justify-content: space-between;
  &__date {
    color: $kobicha;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 700;
    font-family: "Roboto";
  }
  &__name {
    color: $dark-green;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 700;
    font-family: "Roboto";
  }
}
