@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

#root {
  height: 100vh;
}

/* navbar section */
.footer-navbar {
  background-color: #34180d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include tablet {
    align-items: flex-start;
    justify-items: flex-start;
    justify-content: space-around;
  }

  @include desktop {
    align-items: flex-start;
    justify-items: flex-start;
    justify-content: space-around;
  }
  &__logo {
    width: 100%;
    margin: 1rem 2rem 1rem 2rem;
    color: #f1ddbd;
    font-family: "Nunito";
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__bookings,
  &__about {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    color: #f1ddbd;
    font-size: 0.875rem;
    margin: 1rem 2rem 1rem 2rem;
    text-align: center;
    align-self: flex-end;
    justify-content: space-evenly;
    @include tablet {
      margin: 1rem;
    }
    @include desktop {
      margin: 1rem 7rem 1rem 7rem;
    }
    &:active,
    &:active {
      color: #f1ddbd;
      font-weight: 700;
      border-bottom: #f1ddbd solid 0.2rem;
    }
    &:hover,
    &:hover {
      color: #f1ddbd;
      border-bottom: #f1ddbd solid 0.2rem;
    }
  }
}

// .footer {
//   background-color: #effaf7;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: space-around;
//   flex-direction: column;
//   margin: 1rem;
//   @include tablet {
//     flex-direction: row;
//     flex-wrap: wrap;
//     margin: 1.5rem;
//     justify-content: space-between;
//     align-content: flex-start;
//   }
//   &__logo {
//     text-decoration: none;
//     color: #0c1e1a;
//     font-family: "Newsreader";
//     font-size: 2rem;
//     line-height: 2rem;
//     font-weight: 400;
//     @include tablet {
//       font-size: 2.5rem;
//       line-height: 2.5rem;
//       flex: 1;
//     }
//     @include desktop {
//       font-size: 2.5rem;
//       line-height: 2.5rem;
//     }
//   }
//   &__columnOne {
//     color: #0c1e1a;
//     font-family: "Outfit";
//     font-size: 0.75rem;
//     line-height: 0.938rem;
//     font-weight: 500;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     height: auto;
//     margin: 1rem 0 1rem 0;
//     height: 4rem;

//     @include tablet {
//       font-size: 0.875rem;
//       line-height: 1.094rem;
//       margin: 1rem;
//       flex: 1;
//     }
//     @include desktop {
//       font-size: 0.875rem;
//       line-height: 1.094rem;
//     }
//   }
//   &__columnTwo {
//     color: #0c1e1a;
//     font-family: "Outfit";
//     font-size: 0.75rem;
//     line-height: 0.938rem;
//     font-weight: 500;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-content: space-between;
//     height: 4rem;
//     margin: 1rem 0 1rem 0;
//     @include tablet {
//       font-size: 0.875rem;
//       line-height: 1.094rem;
//       margin: 1rem;
//       flex: 1;
//     }
//     @include desktop {
//       font-size: 0.875rem;
//       line-height: 1.094rem;
//     }
//   }
//   &__social {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     justify-content: space-between;
//     align-content: space-between;
//     width: 8.75rem;
//     margin: 0.5rem 0 0.5rem 0;
//     @include tablet {
//       width: 20rem;
//       margin: 1rem;
//       justify-content: space-between;
//       flex: 1;
//     }
//     &__social--facebook,
//     &__social--twitter,
//     &__social--instagram,
//     &__social--pinterest {
//       width: 1.5rem;
//     }
//     @include tablet {
//       width: 1rem;
//     }
//   }

//   &__copyright {
//     color: #b7cec9;
//     font-family: "Outfit";
//     font-size: 0.625rem;
//     line-height: 0.75rem;
//     font-weight: 500;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     width: 80%;
//     @include tablet {
//       font-size: 0.75rem;
//       line-height: 0.938rem;
//       width: 50%;
//     }
//     @include desktop {
//       font-size: 0.75rem;
//       line-height: 0.938rem;
//     }
//   }
// }
